<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All departments</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Employee RESTful</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Main page</a></li>
                <li><a href="/employee/add">Create employee</a></li>
                <li><a href="/employee/view/all">All employees</a></li>
                <li><a href="/department/add">Create department</a></li>
                <li class="active"><a href="/department/view/all">All departments</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    <h1>Departments</h1>
    <table id="departmentTable" th:if="${!departments.isEmpty()}" class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Number of employees</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="department : ${departments}">
            <td th:utext="${department.id}"></td>
            <td th:utext="${department.name}"></td>
            <td th:utext="${department.employees.size()}"></td>
        </tr>
        </tbody>
    </table>

    <div th:if="${departments.isEmpty()}" class="container">
        <h3>No data</h3>
    </div>
</div>

<script src="/js/main.js"></script>

</body>
</html>